.progress
{
  display:none;
  position:relative;
  width:400px;
  border: 1px solid #ddd;
  padding: 1px;
  border-radius: 3px;
  margin-bottom: 0px;
}
.bar
{
  background-color: #B4F5B4;
  width:0%;
  height:12px;
  border-radius: 3px;
  margin: 2px;
}
.percent
{
  position:absolute;
  display:inline-block;
  top:-2px;
  left:48%;
}
